*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #081b29;
    color: #ededed;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}
.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
}
.navbar a:hover,
.navbar a.active{
    color: aquamarine;
}
.tarun{
    width: 100%;
    height: 400px;
    margin-top: 150px;
    text-align: center;
}

.srinivasu{
    margin-top: -300px;
    margin-left: 350px;

}
.srinivasu h1,h2,h3{
    color: aqua;
    
}
  .manoj{
    width: 100%;
    height: 400px;
    text-align: center;
    margin-top: 50px;
}
.manoj button:hover{
    background-color:aqua;
    
}